:root {
    --green: #5f9341;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-size: 100%;
    font-family: Helvetica, sans-serif;
}

body, main, #box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    width: 80%;
    height: 100vh;
    
    margin: 2em;
}

button {
    background-color: var(--green);
    color: white;
    padding: 0.65em 1em;
    border: none;
    margin: 0.5em 0;
    font-weight: bold;
    cursor: pointer;
}

[type="text"]:focus {
    outline: 1px solid var(--green);
}

[type="text"] {
    border: 1px solid var(--green);
    padding: 0.45em 0.9em;
}

/*#box {
    margin: 4em;
    background-color: #ffa79e;
    width: 300px;
    padding: 3em;
    height: 100px;
    text-align: center;
    color: white;
    font-weight: bold;
}*/